

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">

            <div class="box-body">
                <iframe src="https://dashboard.tawk.to/#/dashboard" width="100%" height="770px" frameborder="1" scrolling="auto"></iframe>
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

    </section>

