
@{
	ViewBag.Title = "Cart";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<h3 class="breadcrumb-header">Checkout</h3>
				<ul class="breadcrumb-tree">
					<li><a href="#">Home</a></li>
					<li class="active">Checkout</li>
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<div class="col-md-12">

				<!-- Shiping Details -->
				<div class="shiping-details">
					<div class="section-title">
						<h3 class="title">Danh sách sản phẩm</h3>
					</div>
					<div class="container">

						<div class="row ">

							<div class="col-md-8 ">
								<div class="order-summary clearfix">

									<table class="shopping-cart-table table">

										<tbody>
											<tr>
												<td class="thumb"><img src="~/Assets/img/new_1.jpg" alt=""></td>
												<td class="details">
													<a href="#">Tên Sản Phẩm</a>
													<ul>
														<li><span>Thương Hiệu:</span></li>
														<li><span>Cung Cấp</span></li>
													</ul>
												</td>
												<td class="price text-center"><strong>$32.50</strong><br><del class="font-weak"><small>$40.00</small></del></td>
												<td class="qty text-center">
													<div class="col-xs-4 form-group">
														<select class="form-control" style="width:60px">
															<option value="1">1</option>
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
														</select>
													</div>
												</td>
												<td class="total text-center"><strong class="primary-color">$32.50</strong></td>
												<td class="text-right"><button type="button" class="btn btn-danger"><i class=" fa fa-trash"></i></button></td>
											</tr>
											<tr>
												<td class="thumb"><img src="~/Assets/img/new_1.jpg" alt=""></td>
												<td class="details">
													<a href="#">Product Name Goes Here</a>
													<ul>
														<li><span>Size: XL</span></li>
														<li><span>Color: Camelot</span></li>
													</ul>
												</td>
												<td class="price text-center"><strong>$32.50</strong><br><del class="font-weak"><small>$40.00</small></del></td>
												<td class="qty text-center">1</td>
												<td class="total text-center"><strong class="primary-color">$32.50</strong></td>
												<td class="text-right"><button type="button" class="btn btn-danger"><i class=" fa fa-trash"></i></button></td>
											</tr>
											<tr>
												<td class="thumb"><img src="~/Assets/img/new_1.jpg" alt=""></td>
												<td class="details">
													<a href="#">Product Name Goes Here</a>
													<ul>
														<li><span>Size: XL</span></li>
														<li><span>Color: Camelot</span></li>
													</ul>
												</td>
												<td class="price text-center"><strong>$32.50</strong><br><del class="font-weak"><small>$40.00</small></del></td>
												<td class="qty text-center">1</td>
												<td class="total text-center"><strong class="primary-color">$32.50</strong></td>
												<td class="text-right"><button type="button" class="btn btn-danger"><i class=" fa fa-trash"></i></button></td>
											</tr>
										</tbody>

									</table>

								</div>

							</div>
							<!-- Order Details -->
							<div class="col-md-4 order-details">
								<div class="section-title text-center">
									<h3 class="title"></h3>
								</div>
								<div class="order-summary">
									<div class="order-col">
										<div>Phí Ship</div>
										<div><strong>Giá ship</strong></div>
									</div>
									<div class="order-col">
										<div>VAT</div>
										<div><strong>Phí</strong></div>
									</div>
									<div class="order-col">
										<div><strong>Tạm Tính</strong></div>
										<div><strong class="order-total" style="font-size:14px;">130000000000 VND</strong></div>
									</div>
									<div class="order-col">
										<div><strong>Thành tiền</strong></div>
										<div><strong class="order-total" style="font-size:14px;">Tiền cuối cùng</strong></div>
									</div>
								</div>

								<a href="@Url.Action("UserInfo")" class="primary-btn order-submit">Tiến Hành Đặt Hàng</a>
							</div>
							<!-- /Order Details -->
						</div>
						

					</div>


				</div>
				<!-- /Shiping Details -->
				<!-- Order notes -->

			</div>

		
		</div>
		<!-- /row -->
	
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
