
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Quản lí chung
            <small>Bảng điều khiển</small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>150</h3>
                        <p>Đơn đặt hàng mới</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">Xem chi tiết <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>53<sup style="font-size: 20px"></sup></h3>
                        <p>Sản phẩm cần duyệt</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-refresh"></i>
                    </div>
                    <a href="#" class="small-box-footer">Xem chi tiết <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>44</h3>
                        <p>Người dùng đã đăng kí</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">Xem chi tiết <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>65</h3>
                        <p>Sản phẩm sắp hết hàng</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">Xem chi tiết <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Orders total start -->
            <div class="col-xs-12 col-md-8">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Tổng đơn đặt hàng</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="order-totals" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Trạng thái đơn hàng</th>
                                    <th>Hôm nay</th>
                                    <th>Tuần này</th>
                                    <th>Tháng này</th>
                                    <th>Tất cả</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Đang chờ xử lí</td>
                                    <td>5.000.000 VND</td>
                                    <td>50.000.000 VND</td>
                                    <td>500.000.000 VND</td>
                                    <td>5.000.000.000 VND</td>
                                </tr>
                                <tr>
                                    <td>Đang xử lí</td>
                                    <td>5.000.000 VND</td>
                                    <td>50.000.000 VND</td>
                                    <td>500.000.000 VND</td>
                                    <td>5.000.000.000 VND</td>
                                </tr>
                                <tr>
                                    <td>Hoàn tất</td>
                                    <td>5.000.000 VND</td>
                                    <td>50.000.000 VND</td>
                                    <td>500.000.000 VND</td>
                                    <td>5.000.000.000 VND</td>
                                </tr>
                                <tr>
                                    <td>Đã hủy</td>
                                    <td>5.000.000 VND</td>
                                    <td>50.000.000 VND</td>
                                    <td>500.000.000 VND</td>
                                    <td>5.000.000.000 VND</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Orders total start -->
            <!-- Incomplete order start -->
            <div class="col-xs-12 col-md-4">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Tổng đơn hàng chưa hoàn tất</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="order-totals" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Loại đơn hàng</th>
                                    <th>Tổng giá trị</th>
                                    <th>Số lượng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Chưa thanh toán</td>
                                    <td>5.000.000 VND</td>
                                    <td><a class="btn btn-xs btn-default" href="#"><i class="fa fa-eye"><span id="Incomplete-order-count"> 2 </span> - Xem tất cả </i></a></td>
                                </tr>
                                <tr>
                                    <td>Chưa giao</td>
                                    <td>5.000.000 VND</td>
                                    <td><a class="btn btn-xs btn-default" href="#"><i class="fa fa-eye"><span id="Incomplete-order-count"> 2 </span> - Xem tất cả </i></a></td>
                                </tr>
                                <tr>
                                    <td>Chưa xử lí</td>
                                    <td>5.000.000 VND</td>
                                    <td><a class="btn btn-xs btn-default" href="#"><i class="fa fa-eye"><span id="Incomplete-order-count"> 2 </span> - Xem tất cả </i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Incomplete order end -->
        <div class="row">
            <!-- Latest order start-->
            <div class="col-xs-12 col-md-9">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Đơn hàng mới nhất</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="order-totals" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Mã đơn hàng #</th>
                                    <th>Trạng thái</th>
                                    <th>Khách hàng</th>
                                    <th>Cửa hàng</th>
                                    <th>Ngày tạo</th>
                                    <th>Xem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>80091768</td>
                                    <td>Hoàn thành</td>
                                    <td>rendoleo317@gmail.com</td>
                                    <td>techlap</td>
                                    <td>31/12/2018</td>
                                    <td><button type="button" class="btn btn-default"><span><i class="fa fa-eye"></i></span> Xem chi tiết</button></td>
                                </tr>
                                <tr>
                                    <td>80091768</td>
                                    <td>Hoàn thành</td>
                                    <td>rendoleo317@gmail.com</td>
                                    <td>techlap</td>
                                    <td>31/12/2018</td>
                                    <td><button type="button" class="btn btn-default"><span><i class="fa fa-eye"></i></span> Xem chi tiết</button></td>
                                </tr>
                                <tr>
                                    <td>80091768</td>
                                    <td>Hoàn thành</td>
                                    <td>rendoleo317@gmail.com</td>
                                    <td>techlap</td>
                                    <td>31/12/2018</td>
                                    <td><button type="button" class="btn btn-default"><span><i class="fa fa-eye"></i></span> Xem chi tiết</button></td>
                                </tr>
                                <tr>
                                    <td>80091768</td>
                                    <td>Hoàn thành</td>
                                    <td>rendoleo317@gmail.com</td>
                                    <td>techlap</td>
                                    <td>31/12/2018</td>
                                    <td><button type="button" class="btn btn-default"><span><i class="fa fa-eye"></i></span> Xem chi tiết</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Latest order end -->
            <!-- Popular search keyword start -->
            <div class="col-xs-12 col-md-3">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Từ khóa tìm kiếm phổ biến</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="order-totals" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Từ khóa</th>
                                    <th>Lượt tìm kiếm</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>macbook</td>
                                    <td>54</td>
                                </tr>
                                <tr>
                                    <td>rog</td>
                                    <td>120</td>
                                </tr>
                                <tr>
                                    <td>xps</td>
                                    <td>88</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Popular search keyword end -->
        <!-- Best seller by quantity start-->
        <div class="row">
            <!-- Latest order start-->
            <div class="col-xs-12 col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Sản phẩm có số lượng bán cao nhất</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="order-totals" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Tổng số lượng</th>
                                    <th>Tổng giá trị</th>
                                    <th>Xem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Macbook Pro 2018</td>
                                    <td>100</td>
                                    <td>600.000.000 VND</td>
                                    <td><button type="button" class="btn btn-default"><span><i class="fa fa-eye"></i></span> Xem chi tiết</button></td>
                                </tr>
                                <tr>
                                    <td>Macbook Pro 2018</td>
                                    <td>100</td>
                                    <td>600.000.000 VND</td>
                                    <td><button type="button" class="btn btn-default"><span><i class="fa fa-eye"></i></span> Xem chi tiết</button></td>
                                </tr>
                                <tr>
                                    <td>Macbook Pro 2018</td>
                                    <td>100</td>
                                    <td>600.000.000 VND</td>
                                    <td><button type="button" class="btn btn-default"><span><i class="fa fa-eye"></i></span> Xem chi tiết</button></td>
                                </tr>
                                <tr>
                                    <td>Macbook Pro 2018</td>
                                    <td>100</td>
                                    <td>600.000.000 VND</td>
                                    <td><button type="button" class="btn btn-default"><span><i class="fa fa-eye"></i></span> Xem chi tiết</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Best seller by quantity end-->
            <!-- Best seller by amout start-->
            <div class="col-xs-12 col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Sản phẩm có giá trị bán cao nhất</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="order-totals" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Tổng số lượng</th>
                                    <th>Tổng giá trị</th>
                                    <th>Xem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Macbook Pro 2018</td>
                                    <td>100</td>
                                    <td>600.000.000 VND</td>
                                    <td><button type="button" class="btn btn-default"><span><i class="fa fa-eye"></i></span> Xem chi tiết</button></td>
                                </tr>
                                <tr>
                                    <td>Macbook Pro 2018</td>
                                    <td>100</td>
                                    <td>600.000.000 VND</td>
                                    <td><button type="button" class="btn btn-default"><span><i class="fa fa-eye"></i></span> Xem chi tiết</button></td>
                                </tr>
                                <tr>
                                    <td>Macbook Pro 2018</td>
                                    <td>100</td>
                                    <td>600.000.000 VND</td>
                                    <td><button type="button" class="btn btn-default"><span><i class="fa fa-eye"></i></span> Xem chi tiết</button></td>
                                </tr>
                                <tr>
                                    <td>Macbook Pro 2018</td>
                                    <td>100</td>
                                    <td>600.000.000 VND</td>
                                    <td><button type="button" class="btn btn-default"><span><i class="fa fa-eye"></i></span> Xem chi tiết</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Best seller by amout end-->
    </section>
    <!-- /.content -->
</div>

