@model IEnumerable<eCommerce.EntityFramework.Category>
@foreach (var item in Model)
{
    <li><a href="@Url.Action("ProductsIndex", "Products", new { name = item.Name , page = 1 })">@Html.DisplayFor(modelItem => item.Name)</a></li>
}
