
@{
	ViewBag.Title = "Create";
	Layout = "~/Areas/Merchant/Views/Shared/_Layout-Merchants.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li>
				<a href="#">
					<em class="fa fa-home"></em>
				</a>
			</li>
			<li class="active">Quản Lí Tài Khoản</li>
		</ol>
	</div><!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Tạo Sản Phẩm</h1>
		</div>
	</div><!--/.row-->
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-blue">
				<div class="panel-heading ">
					Thông Tin Tài Khoản
					<ul class="pull-right panel-settings panel-button-tab-right">
						<li class="dropdown">
							<a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<ul class="dropdown-settings">
										<li>
											<a href="#">
												<em class="fa fa-cog"></em> Settings 1
											</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">
												<em class="fa fa-cog"></em> Settings 2
											</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">
												<em class="fa fa-cog"></em> Settings 3
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
					<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" action="" method="post">
						<fieldset>
							<!-- Name input-->
							<div class="form-group">
								<label class="col-md-3 control-label" for="name">Tên </label>
								<div class="col-md-9">
									<input id="name" name="name" type="text" placeholder="Tên Hiển Thị" class="form-control">
								</div>
							</div>

							<!-- Email input-->
							<div class="form-group">
								<label class="col-md-3 control-label" for="email"> E-mail</label>
								<div class="col-md-9">
									<input id="email" name="email" type="text" placeholder="Your email" class="form-control">
								</div>
							</div>

							<!-- Message body -->
							<div class="form-group">
								<label class="col-md-3 control-label" for="message">Mật Khẩu Mới</label>
								<div class="col-md-9">
									<input id="email" name="newpassword" type="text" placeholder="Mật khẩu mới" class="form-control">
								</div>
							</div>

							<!-- Form actions -->
							<div class="form-group">
								<div class="col-md-12 widget-right">
									<button type="submit" class="btn btn-default btn-md pull-right">Xác Nhận</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		
		</div><!--/.col-->

	

	</div><!--/.row-->
</div>	<!--/.main-->
