
@{
	ViewBag.Title = "Account";
	Layout = "~/Areas/Admin/Views/Shared/_Layout-Merchants.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li>
				<a href="#">
					<em class="fa fa-home"></em>
				</a>
			</li>
			<li class="active">Quản Lí Tài Khoản</li>
		</ol>
	</div><!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Quản Lí Tài Khoản</h1>
		</div>
	</div><!--/.row-->
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-danger">
				<div class="panel-heading ">
					Thông Tin Tài Khoản
					<ul class="pull-right panel-settings panel-button-tab-right">
						<li class="dropdown">
							<a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<ul class="dropdown-settings">
										<li>
											<a href="#">
												<em class="fa fa-cog"></em> Settings 1
											</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">
												<em class="fa fa-cog"></em> Settings 2
											</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">
												<em class="fa fa-cog"></em> Settings 3
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
					<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" action="" method="post">
						<fieldset>
							<!-- Name input-->
							<div class="form-group">
								<label class="col-md-3 control-label" for="name">Tên Hiển Thị </label>
								<div class="col-md-9">
									<input id="name" name="name" type="text" placeholder="Tên Hiển Thị Mới" class="form-control">
								</div>
							</div>

							<!-- Email input-->
							<div class="form-group">
								<label class="col-md-3 control-label" for="oldpassword"> Mật khẩu cũ</label>
								<div class="col-md-9">
									<input id="email" name="oldpassword" type="text" placeholder="Mật khẩu cũ" class="form-control">
								</div>
							</div>

							<!-- Message body -->
							<div class="form-group">
								<label class="col-md-3 control-label" for="newpasswor">Mật Khẩu Mới</label>
								<div class="col-md-9">
									<input id="email" name="newpassword" type="text" placeholder="Mật khẩu mới" class="form-control">
								</div>
							</div>

							<!-- Form actions -->
							<div class="form-group">
								<div class="col-md-12 widget-right">
									<button type="submit" class="btn btn-default btn-md pull-right">Xác Nhận</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="panel panel-warning">
				<div class="panel-heading">
					Dịch Vụ
					<ul class="pull-right panel-settings panel-button-tab-right">
						<li class="dropdown">
							<a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<ul class="dropdown-settings">
										<li>
											<a href="#">
												<em class="fa fa-cog"></em> Settings 1
											</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">
												<em class="fa fa-cog"></em> Settings 2
											</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">
												<em class="fa fa-cog"></em> Settings 3
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
					<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" action="" method="post">
						<fieldset>
							<!-- Name input-->
							<div class="form-group">
								<label class="col-md-3 control-label" for="name">Name</label>
								<div class="col-md-9">
									<input id="name" name="name" type="text" placeholder="Your name" class="form-control">
								</div>
							</div>

							<!-- Email input-->
							<div class="form-group">
								<label class="col-md-3 control-label" for="email">Your E-mail</label>
								<div class="col-md-9">
									<input id="email" name="email" type="text" placeholder="Your email" class="form-control">
								</div>
							</div>

							<!-- Message body -->
							<div class="form-group">
								<label class="col-md-3 control-label" for="message">Your message</label>
								<div class="col-md-9">
									<textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
								</div>
							</div>

							<!-- Form actions -->
							<div class="form-group">
								<div class="col-md-12 widget-right">
									<button type="submit" class="btn btn-default btn-md pull-right">Submit</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div><!--/.col-->

		<div class="col-md-6">
			<div class="panel panel-success">
				<div class="panel-heading">
					Thông Tin Cửa Hàng
					<ul class="pull-right panel-settings panel-button-tab-right">
						<li class="dropdown">
							<a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<ul class="dropdown-settings">
										<li>
											<a href="#">
												<em class="fa fa-cog"></em> Settings 1
											</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">
												<em class="fa fa-cog"></em> Settings 2
											</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">
												<em class="fa fa-cog"></em> Settings 3
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
					<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" action="" method="post">
						<fieldset>

							<div class="form-group">
								<label class="col-md-3 control-label" for="name">Tên Người đại diện</label>
								<div class="col-md-9">
									<input class="form-control" type="text" name="first-name" placeholder="Họ Tên Người Đại Diện">
								</div>

							</div>

							<div class="form-group">
								<label class="col-md-3 control-label" for="shop-name">Tên Cửa Hàng</label>
								<div class="col-md-9">
									<input id="nameshop" name="shop-name" type="text" placeholder="Tên Cửa Hàng " class="form-control">
								</div>
							</div>


							<div class="form-group">
								<label class="col-md-3 control-label" for="address">Địa chỉ</label>
								<div class="col-md-9">
									<input class="form-control" type="text" name="address" placeholder="Địa chỉ">
								</div>

							</div>

							<div class="form-group">
								<label class="col-md-3 control-label" for="code-register">Số đăng ký kinh doanh</label>
								<div class="col-md-9">
									<input class="form-control" type="text" name="code-register" placeholder="Mã số đăng ký kinh doanh">
								</div>

							</div>


							<div class="form-group">
								<label class="col-md-3 control-label" for="tax">Mã Thuế</label>
								<div class="col-md-9">
									<input class="form-control" type="text" name="tax" placeholder="Mã số thuế">
								</div>

							</div>


							<div class="form-group">
								<label class="col-md-3 control-label" for="tel">Số Điện Thoại</label>
								<div class="col-md-9">
									<input class="form-control" type="tel" name="tel" placeholder="Số điện thoại">
								</div>

							</div>

							<div class="form-group">
								<label class="col-md-3 control-label" for="sel1">Giao Hàng</label>
								<div class="col-md-9">
									<select class="form-control" id="sel1">
										<option value="1">Đên Kho Lấy Hàng</option>
										<option value="2">Nhà Bán Đem Hàng Đến</option>
										<option value="3">Nhà Bán Tự Vận Hành</option>

									</select>
								</div>
								
							</div>

							<div class="form-group">
								<label class="col-md-4 control-label" for="photo">Ảnh Cửa Hàng</label>
								<div class="col-md-8">
									<input class="form-control" id="photo" name="photo" type="file" placeholder="Ảnh Cửa Hàng">
								</div>
							</div>

							<div class="form-group ">
								<label class="col-md-4 control-label" for="identify">CMND Mặt Trước</label>
								<div class="col-md-8">
									<input id="identify" name="identify1" type="file" placeholder="Ảnh Chứng Minh Nhân Dân Mặt Trước" class="form-control">
								</div>
							</div>

							<div class="form-group ">
								<label class="col-md-4 control-label" for="identify">CMND Mặt sau</label>
								<div class="col-md-8">
									<input id="identify" name="identify2" type="file" placeholder="Ảnh Chứng Minh Nhân Dân Mặt Sau" class="form-control">
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-4 control-label" for="certifiate">Giấy Phép Mặt Trước</label>
								<div class="col-md-8">
									<input id="identify" name="certificate1" type="file" placeholder="Ảnh Giấy Phép Kinh Doanh Mặt Trước" class="form-control">
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-4 control-label" for="certifiate">Giấy Phép Mặt Sau</label>
								<div class="col-md-8">
									<input id="identify" name="certificate2" type="file" placeholder="Ảnh Giấy Phép Kinh Doanh Mặt Sau" class="form-control">
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-12 widget-right">
									<button type="submit" class="btn btn-default btn-md pull-right">Xác Nhận</button>
								</div>
							</div>



						</fieldset>
					</form>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Thông Tin Ví
					<ul class="pull-right panel-settings panel-button-tab-right">
						<li class="dropdown">
							<a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<ul class="dropdown-settings">
										<li>
											<a href="#">
												<em class="fa fa-cog"></em> Settings 1
											</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">
												<em class="fa fa-cog"></em> Settings 2
											</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">
												<em class="fa fa-cog"></em> Settings 3
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
					<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" action="" method="post">
						<fieldset>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="numbercard">Số Thẻ</label>
								<div class="col-md-9">
									<input id="numbercard" name="numbercard" type="text" placeholder="Số thẻ ngân hàng" class="form-control">
								</div>
							</div>

							
							<div class="form-group">
								<label class="col-md-3 control-label" for="numberaccount">Số Tài Khoản</label>
								<div class="col-md-9">
									<input id="numberaccount" name="numberaccount" type="text" placeholder="Số tài khoản" class="form-control">
								</div>
							</div>

							
							<!-- Form actions -->
							<div class="form-group">
								<div class="col-md-12 widget-right">
									<button type="submit" class="btn btn-default btn-md pull-right">Xác Nhận</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div><!--/.col-->
		
	</div><!--/.row-->
</div>	<!--/.main-->
